.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* https://stackoverflow.com/questions/72059580/swiper-grid-module-is-not-working-as-expected */
.swiper-grid-column>.swiper-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
}

.swiper-button-prev {
  color: rgba(128, 128, 128, 0.281);
  box-shadow: white;
}

.swiper-button-next {
  color: rgba(128, 128, 128, 0.281);
  box-shadow: white;
}