  .calendar__day.heart {
    position: relative;
    font-weight: bold;
  }
  
  .calendar__day.heart::after {
    content: '\2665'; /* 유니코드 하트 문자 */
    font-size: 40px;
    /* color: #ff56226c; */
    color: rgba(49, 158, 125, 0.2);;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .red {
    color: rgb(212, 41, 41);
  }
  
  .blue {
    color: rgb(94, 94, 221);
  }
